.project-container {
	width: 50%;
	font-family: 'Fira Code';
	padding: 2%;
}

.project-header {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.github-icon img {
	height: 5vh;
}

.project-title {
	font-size: 1.75rem;
	margin-bottom: 1%;
	font-family: 'PPNeuBitBold';
}

.project-title a {
	color: black;
}

.project-description {
	font-family: 'IBM Plex Sans';
	margin-top: 2%;
	font-size: 0.9rem;
	line-height: 1.4;
}

.project-image img {
	width: 100%;
}
